*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.logo-css{
    margin: -5px;
    width: 95px;
    height: 80px;
    border-radius: 65px;
}
.navbar{
    background-color: #F6DDCC;
}
.navbar .navbar-nav .nav-item a{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    color: #b89090;
}
.centered {
	position: absolute;
	top: 50%;
	left: 68%;
	transform: translate(-50%, -50%);
  }
.ourh1{
	color: #fff;
	font-size: 60px;
	font-family: 'Style Script', cursive;

}
.img-about-index-section{
    width: 100%;
    height: 500px;
    border-radius: 25px;
    box-sizing: border-box;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px 0px;
}
#section-of-index-about{
    margin-top: 0px;
    background: #f6ddcc;
}
.h-about-index{
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color: #c9a09d;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 5px;
    font-family: 'Lobster', cursive;
}
.paragraph-of-anout-section{
    padding: 50px;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Style Script', cursive;
}
.button-of-about-section{
    border-radius: 10px;
    padding: 15px;
    border: none;
    background: #fd9ced;
    margin-bottom: 25px;
}
.content-of-about-section-btn{
    text-decoration: none;
    font-size: 20px;
    color: #f6ddcc;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Lobster', cursive;
}
.video-section-index{
    width: 100%;
    height: 345px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
}



